<template>
  <div class="container">
    <br />
    <div class="row text-center">
      <h1>Formulario</h1>
      <br />
    </div>
    <form action="">
      <label for="nom">Nom</label>
      <br />
      <input
        id="nom"
        type="text"
        size="40"
        maxlength="30"
        placeholder="nom"
        required
      />
      <br /><br />
      <div class="row">
        <div class="col">
          <label for="primerCognom">Primer cognom</label>
          <br />
          <input
            id="primerCognom"
            type="text"
            size="60"
            maxlength="40"
            placeholder="Primer cognom"
            required
          />
        </div>
        <div class="col">
          <label for="segonCognom">Segon cognom</label>
          <br />
          <input
            id="segonCognom"
            type="text"
            size="60"
            maxlength="40"
            placeholder="Segon cognom"
            required
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <label for="identificacio">Tipus de document</label>
          <br />
          <select name="identificacio" id="identificacio" v-model="contenidFormulario.documento" required>
            <option
              v-for="(item, index) in datosFormulario.documentoIdentidad"
              :key="index"
              :value="item"
            >
              {{ item }}
            </option>
          </select>
        </div>
        <div class="col">
          <label for="numDocumento">Document d'identitat</label>
          <br />
          <input type="text" id="numDocumento" />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <span>Ets</span>
          <br />
          <input type="radio" name="home" id="home" />
          <span>Home</span>
          <input type="radio" name="dona" id="dona" />
          <span>Dona</span>
        </div>
        <div class="col">
          <label for="date">Data de naixement</label>
          <br />
          <input type="date" id="nacimiento" />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <label for="estudis">Nivell d'studis</label>
          <br />
          <select name="estudis" id="estudis" v-model="contenidFormulario.estudios" required>
            <option
              v-for="(item, index) in datosFormulario.nivelEstudios"
              :key="index"
              :value="item"
            >
              {{ item }}
            </option>
          </select>
        </div>
        <div class="col">
          <label for="laboral">Situacio laboral</label>
          <br />
          <select name="laboral" id="laboral" v-model="contenidFormulario.laboral" required>
            <option
              v-for="(item, index) in datosFormulario.situacionLaboral"
              :key="index"
              :value="item"
            >
              {{ item }}
            </option>
          </select>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <label for="nacionalitat">Nacionalitat</label>
          <br />
          <select name="nacionalitat" id="nacionalitat" v-model="contenidFormulario.nacionalidad" required>
            <option
              v-for="(item, index) in datosFormulario.nacionalidad"
              :key="index"
              :value="item"
            >
              {{ item }}
            </option>
          </select>
        </div>
        <div class="col">
          <label for="pais">Pais</label>
          <br />
          <select name="pais" id="pais" v-model="contenidFormulario.pais" required>
            <option
              v-for="(item, index) in listaPaises"
              :key="index"
              :value="item"
            >
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <label for="email">Email</label>
          <br />
          <input type="text" id="email" />
        </div>
        <div class="col">
          <label for="telefono">Telefono</label>
          <br />
          <input type="text" id="telefono" size="10" maxlength="9" />
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col">
          <span>Vius a Barcelona?</span>
          <br />
          <input
            type="radio"
            name="viuBarceloa"
            value="si"
            v-model="viveBarcelona"
          />
          <span>si</span>
          <input
            type="radio"
            name="viuBarceloa"
            value="no"
            v-model="viveBarcelona"
          />
          <span>no</span>
        </div>
      </div>
      <br />
      <!-- <div class="row" id="opcional" style="display:none"> -->
      <div id="opcional" v-if="viveBarcelona == 'si'">
        <div class="row">
          <span id="seleccioValida"><i>La seleccio es valida</i></span>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <br />
            <input id="tipusVia" /><br />
          </div>
          <div class="col">
            <br />
            <input id="carrer" /><br />
          </div>
          <div class="col">
            <br />
            <input id="portal" /><br />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <label for="pis">Pis</label>
            <br />
            <input type="text" id="pis" />
          </div>
          <div class="col">
            <label for="porta">Porta</label>
            <br />
            <input type="text" id="porta" />
          </div>
          <div class="col">
            <label for="escala">Escala</label>
            <br />
            <input type="text" id="escala" />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <label for="cp">Codi postal</label>
            <br />
            <input
              type="text"
              name="cp"
              id="cp"
              placeholder="08900"
              required
              size="50"
            />
          </div>
          <div class="col">
            <label for="poblacio">Poblacio</label>
            <br />
            <input
              type="text"
              name="poblacio"
              id="poblacio"
              placeholder="barcelona"
              size="50"
            />
          </div>
        </div>
      </div>
      <br />
      <input type="submit" method="post" action="#" />
    </form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Formulario",
  mounted() {
    this.obtenerDatosFormulario();
  },
  data() {
    return {
      viveBarcelona: "",
      datosFormulario: "",
      listaPaises: "",
      contenidFormulario: {
        documento: "",
        estudios: "",
        laboral: "",
        nacionalidad: "",
        pais: ""
      }
    };
  },
  methods: {
    obtenerDatosFormulario() {
      axios
        .get("http://localhost:3000/datosFormulario")
        .then((res) => {
          this.datosFormulario = res.data;
          //API lista paises
          axios
            .get(this.datosFormulario.paises)
            .then((res) => {
              this.listaPaises = res.data;
            })
            .catch(function (error) {
              console.log(error);
            });
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
