<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <div id="app">
        <label for="goal">Goal</label>
        <input v-model="enteredValue" placeholder="">        
        <button v-on:click="addgol">Add Goal</button>
      <ul>
        <li v-for="goal in goals">
          {{ goal }}
        </li>
      </ul>
    </div>
  </body>
</html>
