<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
        <p v-if="visible">{{ message }}</p>
    </div>
  </body>
</html>


<script>
  var app = new Vue({
    el: "#app",
    data: {
        message: "prueba",
        visible: true,
    },
  });
</script>
