<template>
    <ListarTutoriales></ListarTutoriales>    
</template>
<script>
import ListarTutoriales from '@/components/ListarTutoriales.vue'

export default {
    name: 'home',
    components: {
        ListarTutoriales
    }
}
</script>