<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>crud</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div class="container mt-5" id="app">
        <h3>{{ titulo }}</h3>

        <input type="text" class="form-control my-3" v-model="tarea" @keyup.enter="agregarTarea">
        <button type="button" class="btn btn-primary" @click="agregarTarea">agregar</button>

        <div class="mt-3" v-for = "(datos,index) of listaTareas">

            <div role="alert" :class="['alert', datos.estado ? 'alert-success' : 'alert-danger']">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        {{ index + 1 }} - {{datos.name}} - {{datos.estado}}
                    </div>
                    <div>
                        <button class="btn btn-success" @click="tareaHecha(index)">ok</button>
                        <button class="btn btn-danger" @click="eliminarTarea(index)">X</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </body>
</html>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            titulo: "CRUD Vue",
            tarea: "",
            listaTareas: []
        },
        methods: {
            agregarTarea: function() {
                this.listaTareas.push({
                    name: this.tarea,
                    estado: false
                });
                this.tarea = "";
            },
            tareaHecha: function(index) {
                this.listaTareas[index].estado = true;
            },
            eliminarTarea: function(index) {
                this.listaTareas.splice(index,1);
            }
        }
    })
</script>