.juego {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

/* DINO T-REX */
.dino {
    width: 50px;
    height: 50px;
    background-image: url(img/trex.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}

.jump {
    animation: jump 0.5s linear;
}

/* Animacion salto del tRex */
@keyframes jump {
    0% {
        top: 150px
    }
    30% {
        top: 130px
    }
    50% {
        top: 70px
    }
    80% {
        top: 130px
    }
    100% {
        top: 150px;
    }
}

/* CACTUS */
.cactus {
    width: 25px;
    height: 35px;
    background-color: brown;
    position: relative;
    top: 115px;
    left: 580px;
    animation: cactusMove 2.2s infinite linear;
}

@keyframes cactusMove {
    0% {
        left: 580px
    }
    100% {
        left: -20px
    }  
}

