body {
    background-color: rgb(121, 127, 204);   
}
.container {
    margin-top: 100px;
}
.juego {
    margin: auto;
    width: 540px;
    height: 540px;
    background-color: black;
    border: 2px solid blue;
}

.puntero {
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    position: absolute;
    transition: all 0.6s;
}

.puntos {
    background-color: black;
    color: white;
    font-size: 20px;
    height: 30px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}