<template>
  <div class="container mt-5">
    <div class="row justify-content-around">
      <div class="col-lg-6 col-md-6 col-sm-10">
        <!-- Tutoriales -->
        <div
          class="row border border-secondary rounded my-2 pt-2 pb-3"
          v-for="tutorial in tutoriales"
          :key="tutorial.id"
        >
          <div class="col-3">
            <div class="row">
              <img v-bind:src="tutorial.url" alt="" />
            </div>
            <div class="row text-center mt-1">
              <h3>{{ tutorial.autor }}</h3>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <h2>{{ tutorial.titulo }}</h2>
            </div>
            <div class="row">
              <p>
                {{ tutorial.descripcion }}
              </p>
            </div>
            <div class="d-flex justify-content-end">
              <button
                type="button"
                class="btn btn-warning btn-sm rounded p-2"
                @click="follow(tutorial)"
              >
                <strong class="follow">Follow</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Favoritos -->
      <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="row mt-4">
          <h1>Favoritos</h1>
        </div>
        <div class="row">
          <div
            v-for="favorito in favoritos"
            :key="favorito.id"
            class="card text-white bg-dark mb-3"
            style="max-width: 18rem"
          >
            <div class="card-header">{{ favorito.autor }}</div>
            <div class="card-body">
              <div class="row">
                <div class="col-7">
                  <h5 class="card-title">{{ favorito.titulo }}</h5>
                </div>
                <div class="col">
                  <a
                    style="text-decoration: none"
                    class="eliminar text-danger"
                    @click="eliminarFavorito(favorito.id)"
                    >Eliminar</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <button
            @click="eliminarTodo()"
            type="button"
            class="btn btn-danger btn-sm p-0 mx-1"
          >
            Eliminar Todo
          </button>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Carrito",
  mounted() {
    this.obtenerTutoriales();
    this.obtenerFavoritos();
  },
  data() {
    return {
      tutoriales: null,
      favoritos: null,
    };
  },

  methods: {
    obtenerTutoriales() {
      axios
        .get("http://localhost:3000/tutorials")
        .then((res) => {
          this.tutoriales = res.data;
          //console.log(this.tutoriales)
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    obtenerFavoritos() {
      axios
        .get("http://localhost:3000/favoritos")
        .then((res) => {
          this.favoritos = res.data;
          console.log(this.favoritos);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    //Seguir un tutorial(favoritos)
    follow(tutorial) {
      axios
        .post("http://localhost:3000/favoritos/", tutorial)
        .then((data) => {
          console.log(data);
          if (data.status === 201) {
            this.visible = true;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.obtenerFavoritos();
    },

    eliminarFavorito(id) {
      axios.delete("http://localhost:3000/favoritos/" + id).then(() => {
        this.obtenerFavoritos();
      });
    },
    eliminarTodo() {
      axios
        .delete("http://localhost:3000/favoritos/", this.favoritos)
        .then(() => {
          this.obtenerFavoritos();
        });
    },
  },
};
</script>

<style scoped>
</style>