<template>
  <div class="container">
    <!-- Titulo -->
    <div class="row text-center pt-4">
      <h1>Crear Tutorial</h1>
    </div>

    <!-- Formulario -->
    <div class="row">
      <label for="title">Autor</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        v-model="tutorial.autor"
        name="title"
        @keyup.enter="guardarTutorial()"
      />
      <label for="title">Titulo</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        v-model="tutorial.titulo"
        name="title"
        @keyup.enter="guardarTutorial()"
      />
      <label for="title">Descripcion</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        v-model="tutorial.descripcion"
        name="title"
        @keyup.enter="guardarTutorial()"
      />
      <label for="title">Foto</label>
      <input
        placeholder="URL foto"
        type="text"
        class="form-control"
        id="title"
        required
        v-model="tutorial.url"
        name="title"
        @keyup.enter="guardarTutorial()"
      />
      <button @click="guardarTutorial()" class="btn btn-success my-3">
        Submit
      </button>
      <br />
      <div v-if="visible" class="alert alert-success mt-3">{{ mensaje }}</div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "CrearTutorial",
  data() {
    return {
      tutorial: {
        autor: "",
        titulo: "",
        descripcion: "",
        url: ""
      },
      mensaje: "Creado",
      visible: false,
    };
  },
  methods: {
    guardarTutorial() {
      delete this.tutorial["id"];
      console.log(this.tutorial);
      axios
        .post("http://localhost:3000/tutorials/", this.tutorial)
        .then((data) => {
          console.log(data);
          if (data.status === 201) {
            this.visible = true;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>