<template>
  <div class="container">
    <!-- Titulo -->
    <div class="row text-center pt-4">
      <h1>Crear Tutorial</h1>
    </div>

    <!-- Formulario -->
    <div class="row">
      <label for="autor">Autor</label>
      <input
        type="text"
        class="form-control"
        id="autor"
        required
        v-model="tutorial.autor"
        @keyup.enter="guardarTutorial()"
      />
      <label for="title">Titulo</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        v-model="tutorial.titulo"
        @keyup.enter="guardarTutorial()"
      />
      <label for="title">Descripcion</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        v-model="tutorial.descripcion"
        @keyup.enter="guardarTutorial()"
      />
       <label for="title">Foto</label>
      <input
        placeholder="URL foto"
        type="text"
        class="form-control"
        id="title"
        required
        v-model="tutorial.url"
        name="title"
        @keyup.enter="guardarTutorial()"
      />
      <button @click="guardarTutorial()" class="btn btn-success my-3">Submit</button>
      <div v-if="visible" class="alert alert-success mt-3">{{ mensaje }}</div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "EditarTutorial",
  mounted() {
    axios
      .get("http://localhost:3000/tutorials/" + this.$route.params.id)
      .then((r) => {
        this.tutorial = r.data;
      })
      .catch(function (error) {
        console.log(error);
      });
  },
  data() {
    return {
      tutorial: {
        autor: "",
        titulo: "",
        descripcion: "",
      },
      mensaje: "Modificado",
      visible: false,
    };
  },
  methods: {
    guardarTutorial() {
      axios
        .put(
          "http://localhost:3000/tutorials/" + this.$route.params.id,
          this.tutorial
        )
        .then((data) => {
          if (data.status === 200) {
            (this.visible = true), console.log(data.status);
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>