<template>
  <div class="container">
    <!-- Titulo -->
    <div class="row text-center pt-4">
      <h1>Listado Tutoriales</h1>
    </div>
    <!-- Añadir tutorial -->
    <div class="form py-2">
      <div class="row">
        <div class="col">
          <input
            @keyup.enter="buscarPorTitulo()"
            class="form-control me-2"
            type="search"
            placeholder="Busqueda por titulo"
            aria-label="Search"
            v-model="busqueda"
          />
        </div>
        <div class="col">
          <button
            class="btn btn-outline-success"
            type="submit"
            @click="buscarPorTitulo()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <router-link to="/crearTutorial" tag="button">
        <button type="button" class="btn btn-success">
          Crear Tutorial
        </button></router-link
      >
    </div>
    <!-- Tabla -->
    <br />
    <div class="row">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Autor</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">URL Imagen</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="tutorial in tutoriales" :key="tutorial.id">
            <td>{{ tutorial.id }}</td>
            <td>{{ tutorial.autor }}</td>
            <td>{{ tutorial.titulo }}</td>
            <td>{{ tutorial.descripcion }}</td>
            <td>{{ tutorial.url }}</td>
            <td>
              <router-link
                :to="{ name: 'editarTutorial', params: { id: tutorial.id } }"
              >
                <button type="button" class="btn btn-warning btn-sm p-0 mx-1">
                  Modificar
                </button>
              </router-link>

              <button
                type="button"
                class="btn btn-danger btn-sm p-0 mx-1"
                @click="borrarTutorial(tutorial.id)"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
//<img src="https://cdn.onlinewebfonts.com/svg/img_379085.png" alt="">

import axios from "axios";
export default {
  name: "ListarTutoriales",
  //Cuando se monta el componente, se lanza el metodo
  mounted() {
    this.obtenerTutoriales();
  },
  data() {
    return {
      tutoriales: null,
      busqueda: "",
    };
  },
  methods: {
    //Obtener lista de tutoriales
    obtenerTutoriales() {
      axios
        .get("http://localhost:3000/tutorials")
        .then((res) => {
          this.tutoriales = res.data;
          console.log(this.tutoriales)
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    //Borrar un tutorial en especifico
    borrarTutorial(id) {
      axios.delete("http://localhost:3000/tutorials/" + id).then(() => {
        this.obtenerTutoriales();
      });
    },

    buscarPorTitulo() {
      console.log(this.busqueda);
      axios
        .get("http://localhost:3000/tutorials?titulo=" + this.busqueda)
        .then((res) => {
          this.tutoriales = res.data;
          console.log(this.tutoriales.data);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>
