<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="leng of lenguajes"> <a :href="leng.link" target="_blank">{{leng.nombre}}</a></li>
        </ul>
    </div>
    <script>
        new Vue ({
            el: "#app",
            data: {
                mensaje : "hola mundo",          
                lenguajes: [
                    {nombre:"Java", link:'https://www.google.es'},
                    {nombre:"PHP", link:'https://www.marca.com/'},
                    {nombre:"Vue", link:'https://www.as.es'}
                ]
            }
        });
    </script>
</body>
</html>