<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button @click="changeVisibility">Mostrar/Ocultar</button>
        <tv-show-list></tv-show-list>
        <div v-else>
            No hay datos
        </div>
    </div>
    <script>
        Vue.component('tv-show-list', {
            data: function () {
                return {
                        tvshows: [
                        {name: "Game of thrones", seasons: 7},
                        {name: "Breaking Bad", seasons: 5},
                        {name: "Lost", seasons: 6},
                        {name: "True detective", seasons: 3}
                    ]
                }
            },
            template: `
             <ul>
                <tv-show v-for="show in tvshows" 
                :name="show.name" 
                :seasons="show.seasons">
                </tv-show>
             </ul>
            `

        });

        Vue.component('tv-show', {
            props: {
                name: String,
                seasons: Number
            },
            template: `
                <li>
                    <strong>{{ name }}</strong> ({{ seasons }} Temporadas)
                </li>
            `
        })

        new Vue ({
            el: "#app",
            data: {
                mostrar: false,         
            },
            methods: {
                changeVisibility: function() {
                    this.mostrar = !this.mostrar;
                }
            }
        });
    </script>
</body>
</html>