<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="show in tvshows">{{ show.name }}</li>
        </ul>
    </div>
    <script>
        new Vue ({
            el: "#app",
            data: {
                tvshows: [
                    {name: "Game of thrones", seasons: 7},
                    {name: "Breaking Bad", seasons: 5},
                    {name: "Lost", seasons: 6},
                    {name: "True detective", seasons: 3}
                ]
            }
        });
    </script>
</body>
</html>