<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <h1>Sessio05</h1>
    <form action="#" id="form">
      <input v-model="nombre" placeholder="nombre" />
      <br/>
      <input v-model="cognom" placeholder="cognom" />
      <br/>
      <input v-model="email" placeholder="email" />
      <br/>

      <input type="radio" id="client" value="client"/>
      <label for="client">client</label>
      <input type="radio" id="venedor" value="venedor"/>
      <label for="client">venedor</label>
      <br/>

      <input type="checkbox" @click='interes("c")'>
      <label for="checkclient">interessos client</label><br />
      <input type="checkbox" @click='interes("v")'/>
      <label for="checkvenedor">interessos venedor</label><br>
      <p>{{info}}</p>
      <input type="submit" @click="mensaje"><br>
      <p>Intereses: {{checked}}</p>
    </form>
  </body>
</html>
