<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>z
    <div id="app">
      {{ message }}
      <ul>
        <!-- <li v-for="l of lenguajes"><a href="#">{{ l }}</a></li> -->
        <li v-for="l of lenguajes"><a :href="l.link" target="_blank">{{l.nombre}}</a></li>
      </ul>
    </div>
    <script>
      var s = new Vue({
        el: "#app",
        data: {
          message: "Hola Vue!",
          // lenguajes: ['js','php','java']
          lenguajes: [
            { nombre: "js", link: "https://www.google.com" },
            { nombre: "php", link: "https://www.marca.com/" },
            { nombre: "java", link: "https://www.xataka.com" },
          ],
        },
      });
    </script>
  </body>
</html>
